<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="four columns u-centered">
        <h5>"Cradle of Shame"</h5>
        <p class="u-muted u-italic u-margin-top-bottom">presented by</p>
        <img src="images/pclogo.png" class="u-img-responsive">
        <p class="u-muted u-margin-top-bottom">© 2015, The Post and Courier, an Evening Post Industries company. All Rights Reserved.</p>
      </div>
      
      <div class="eight columns">
        <div class="row">
          <div class="four columns">
            <h6>Reporting</h6>
            <p>Doug Pardue</p>
            <p>Lauren Sausser</p>
          </div>
          <div class="four columns">
            <h6>Web Development</h6>
            <p>J. Emory Parker</p>
          </div>
          <div class="four columns">
            <h6>Photography</h6>
            <p>Grace Beahm</p>
            <p>Paul Zoeller</p>
            <p>Wade Spees</p>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <h6>Editing</h6>
          </div>
          <div class="four columns">
            <h6>Print Design & Graphics</h6>
          </div>
        </div>
      </div>
      
    </div>
  </div>
            

</footer>

<script>
  
//function to create popup windows
function windowpop(url, width, height) {
  //Open the window.
  window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",resizable=yes,toolbar=no,menubar=no,scrollbars=yes,location=no,directories=no");
  return false;
};

</script>