<head>
  
  <!--
      oooo.    ,,o
     8" 888ooo8'88             `"8oo88o.                  o8
       8' 88 |  88o88o  ,o8o.    88   88    o.    .o8o,..o88o'
      88  88 |  88  88 o8  8"   ,88   88 .8P"Yb 88   /    88
     88:  88 |  88  88 88."    o888   88 88  88 "8P'.8o   88
     "88 88  |  88  88 88        88   88 88  88   /  88   88
       "88ooo88 "8  8" "8oo8   ,o88oo88" "V8V"  .o8,o8P   V8. ,
                                 88                        """
                     88.         8"
                     '88.      ,, ,oo,,                      "8o
     .o.o.  o. o.    .'88.   .8" 88 |      o. .o  .o  .o  ,o  ,.   .o8o..o  ,o
     "" V8 'Y8P"Y8  88  88  o8   88 |   .8P"Yb 88  88  88" 8" 88' o8  8" 88" 8"
     oP"88  88  88  88  88  88   88 |   88  88 88  88  88     88  88."   88
    o8  88  88  88  88  88  '88 ,Y" |o  88  88 88  88  88     88  88   , 88
    "VP""8. "8. "8. "V8o"    '88oo88"   "V8V"  "8o'"8o "8o    "8o "8oo8  "8o
                                '''
     - - - - - -
     
     DESIGNED AND DEVELOPED IN CHARLESTON, SC
     BY J EMORY PARKER + THE POST AND COURIER
     
  -->
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | The Post and Courier</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="google-site-verification" content="rAW9DX7yfiFF82k05QGF6LbZBkxcKxMTzAwNv0OCKAM" />
	<meta name="p:domain_verify" content="c6511264bdb6fa45c6bb985fb86d3ab2"/>
  <link rel="canonical" href="http://www.postandcourier.com/infant-mortality{{ page.url }}"/>
  <meta name="keywords" content="Post and Courier, Infant, mortality, babies, baby, birth, health, south carolina, sc, third-world, thrid, world, racial, difference, odds, death, pregnant, pregnancy, healthcare, ranking, rural, poverty, poor, women, florence, pee dee" />
  <meta name="news_keywords" content="Post and Courier, Infant, mortality, babies, baby, birth, health, south carolina, sc, third-world, thrid, world, racial, difference, odds, death, pregnant, pregnancy, healthcare, ranking, rural, poverty, poor, women, florence, pee dee" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:site_name" content="The Post and Courier" />
  <meta property="og:image" content="http://www.postandcourier.com/assets/special/infant/images/og-preview.jpg" />
  <meta property="og:image:url" content="http://www.postandcourier.com/assets/special/infant/images/og-preview.jpg" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="http://www.postandcourier.com/infant-mortality{{ page.url }}" />
  <meta property="article:published_time" content="20150311144500" />
  <meta property="article:modified_time" content="20150311144500" />
  <meta property="fb:app_id" content="146078808769941" />
  <link rel="shortcut icon" href="http://www.postandcourier.com/css/carbon/favicon-carbon.png" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/velocity.js"></script>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neuton:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <script src="//use.edgefonts.net/anonymous-pro:n4,i4,n7,i7:all.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');
	__gaTracker('create', 'UA-8046840-2', 'postandcourier.com', {'siteSpeedSampleRate': 20});
	__gaTracker('set', {
		'dimension1': 'Cradle of Death', //section
		'dimension2': 'pc article', //channel
		'dimension3': 'saxotech', // vendor
		'dimension4': 'post and courier',  //site
		'dimension5': 'none', //author
		'dimension6': '0' //asset id
	});
	__gaTracker('send', 'pageview');
  __gaTracker('set', '_setLocalRemoteServerMode');
  __gaTracker('set', '_setLocalGifPath', '//tracking.postandcourier.com/pc/__utm.gif');
</script>
	<!-- Quantcast Tag -->
  <script type="text/javascript">
  var _qevents = _qevents || [];
  (function() {
  var elem = document.createElement('script');
  elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
  elem.async = true;
  elem.type = "text/javascript";
  var scpt = document.getElementsByTagName('script')[0];
  scpt.parentNode.insertBefore(elem, scpt);
  })();
  _qevents.push({
  qacct:"p-TSF1SuGWwgTvE"
  });
  </script>
  <!-- End Quantcast tag -->
  <!-- PINGDOM MONITORING -->
  <script>
    var _prum = [['id', '53fde120abe53d2646df8418'],
      ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
      var s = document.getElementsByTagName('script')[0]
        , p = document.createElement('script');
      p.async = 'async';
      p.src = '//rum-static.pingdom.net/prum.min.js';
      s.parentNode.insertBefore(p, s);
    })();
  </script>
  <!-- END PINGDOM MONITORING -->
  
  <style>
    body, html {
      margin: 0;
      padding: 0;
    }
    
    .flatline-path {
      transform: translateX(-600px);
      -webkit-transform: translateX(-600px);
    }
    
      </style>
</head>
